{#
/**
 * @file
 * Template for inline images.
 */
#}
<span class="text__figure {{ alignment_class }}">
    <span class="figure">
      <span class="picture">
          {{ picture_tag }}
      </span>
      {% if caption is not empty %}
          <span class="figure__caption">
              {{ caption }}
          </span>
      {% endif%}
    </span>
</span>
